<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Meal Plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
         $(document).ready(function () {
            $("#add_day").click(function (event) {
                console.log("submitted day's menu")
                var recipe_id = $(this).get(0).textContent.replace(/ /g, "").slice(0, 7);
                console.log(recipe_id);
                $.ajax({
                    url: '/find_recipe/' + recipe_id,
                    method: 'GET'
                }).done(function (response) {
                    $('#search_results').html(response)
                });
                return false
            });
        });
    </script>
    </head>

<body>
    <div class="container bg-light">
        <a href="/user_home">Home</a>
        {{plan}}
        <!-- <ul>
            {% for res in res %}
            <li>{{res.name}}</li>
            {% endfor %}
        </ul> -->

        <form action="/create_meal_plan" method="POST">
            {% csrf_token %}
            <h3>Create Meal Plan</h3>
            <div class="form-group">
                <label for="week">Choose a week:</label>
                <input type="week" name="week">
            </div>
            <div class="form-group">
                <label for="day">Select a day of the week</label>
                <select name="day" class="form-control form-control-sm col-2" id="day">
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                </select>
            </div>
            <!-- <div class="form-row"> -->
                <div class="form-group">
                    <!-- <label for="main">Main Dish</label> -->
                    <input type="text" name="main_dish" id="main" placeholder="Main Dish">
                </div>
                <div class="form-group">
                    <!-- <label for="side_one">Side One</label> -->
                    <input type="text" name="side_one" id="side_one" placeholder="Side One">
                </div>
                <div class="form-group">
                    <!-- <label for="side_two">Side Two</label> -->
                    <input type="text" name="side_two" id="side_two" placeholder="Side Two">
                </div>
                <div class="form-group">
                    <!-- <label for="side_three">Side Three</label> -->
                    <input type="text" name="side_three" id="side_three" placeholder="Side Three">
                </div>
                <div class="form-group">
                    <!-- <label for="drink">Drink</label> -->
                    <input type="text" name="drink" id="drink" placeholder="Drink">
                </div>
                <!-- </div> -->
            <input type="button" id="add_day" value="Add day">
            <input type="submit" value="Create Plan">
        </form>
    </div>
</body>

</html>