<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by ingredient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
         $(document).ready(function () {
            console.log('document is ready')
            $('#search').click('/submit', function(event){
                event.preventDefault();
                console.log("form submitted!")  // sanity check
                submit();
            });
            function submit() {
                console.log("create post is working!") // sanity check
                console.log($('#post-text').val())
                $.ajax({
                    url : "/submit", // the endpoint
                    type : "POST", // http method
                    data : { search_content : $('#post-text').val()}, // data sent with the post request
                    // .replace(' ', '+') 
        // handle a successful response
                    success : function(json) {
                        $('#post-text').val(''); // remove the value from the input
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check
                        },

        // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " +errmsg+ " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            };
        });
    </script>
</head>
<body>
    <div class="container bg-light">
        <div class="row">
            <div class="col p-4 m-1">
                <p><a href="/user_home">Home</a> | Welcome, {{request.session.name}}</p>
                <form action="/submit" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary" id="search">Submit</button>
                </form>
                <!-- <form action="/submit" method="POST" id="search">
                    {% csrf_token %}
                    <h5>Submit up to 50 ingredients separated by commas and choose the desired number of recipes</h5>
                    <div class="form-row">
                        <div class="form-group col-auto">
                            <textarea type="text" class="form-control" placeholder="Ingredients" name="ingredients"></textarea>
                        </div>
                        <div class="form-group col-auto">
                            <input type="text" class="form-control" placeholder=" Recipes 10-100" name="number">
                        </div>
                        <div class="form-group col-auto">
                            <button type="submit" id="search" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form> -->
                <div id="results"></div>
            </div>
        </div>
    </div>
</body>
</html>