<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Recipe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h3>{{response.title}}</h3>
        <ul>
            <img id="single_recipe_img" src="{{response.image}}" alt="Recipe Image">
            <li>Ready in: {{response.readyInMinutes}} minutes</li>
            <li>Servings: {{response.servings}}</li>
            <li>Dishtype:</li>
            <ul>
                {% for type in response.dishTypes %}
                <li>{{type}}</li>
                {% endfor %}
            </ul>
            <li><a href="{{response.sourceUrl}}">Link to Recipe</a></li>
        </ul>
    <a href="/"></a>
</body>
</html>