<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container bg-light">
        <a href="/">Home</a>
        <h3>{{response.title}}</h3>
        <img id="single_recipe_img" src="{{response.image}}" alt="Recipe Image">
        <ul>
            <li>Ready in: {{response.readyInMinutes}} minutes</li>
            <li>Servings: {{response.servings}}</li>
            <li>Dishtype:</li>
            <ul>
                {% for type in response.dishTypes %}
                <li>{{type}}</li>
                {% endfor %}
            </ul>
            {% autoescape off %}
            <li>{{response.summary}}</li>
            {% endautoescape %}
        </ul>
            <p><a href="{{response.sourceUrl}}">Link to Recipe</a> 
                {% if user in request.session %}
                | <a href="/like/{{recipe.id}}">Like</a> 
                {% endif %}
                | <a href="/get_similar/{{response.id}}">Find Similar Recipes!</a></p>
    </div>
</body>
</html>