<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container bg-light">
        <div class="col p-4 m-1">
            <a href="/">Home</a>
            <h3>Here are your recipe suggestions! Enjoy!</h3>
            <!-- <ol>
                {% for ingredient in ingredients %}
                    <li>{{ingredient.title}} <img id="recipe_img" src="{{recipe.image}}" alt="Recipe Image"></li>
                {% endfor %}
            </ol> -->
            <ol>
                {% for recipe in recipes %}
                    <li>{{recipe.title}} <img id="recipe_img" src="{{recipe.image}}" alt="Recipe Image"><a href="/search/{{recipe.id}}">See recipe</a></li>
                {% endfor %}
            </ol>
            <!-- {% for recipe in recipes %}
            <p>{{recipe}}</p>
            {% endfor %} -->
            <p>Want to submit other ingredients for different recipe suggestions? <a href="/search">Click Here!</a></p>
        </div>
    </div>
</body>
</html>