<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similar Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container bg-light">
        <div class="row">
            <div class="col p-4 m-1">
                <p><a href="/">Home</a> 
                    {% if user in request.session %}
                        | <a href="/create_meal_plan"> Create a meal plan for the next month</a> 
                    {% endif %}
                    | <a href="/search">Search for recipes by ingredients</a>
                </p>
                <h3>Welcome {{request.session.name}}</h3>
                <ul>
                    {% for i in response %}
                        <li>{{i.title}} <img id="recipe_img" src="{{i.image}}" alt="Recipe Image"><a href="/search/{{i.id}}">See recipe</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>