<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#more_info").click(function (event) {
                console.log("clicked on link")
                console.log("submitting request")
                var recipe_id = (document.getElementById('recipe.id').textContent);
                $.ajax({
                    url: '/find_recipe/' + recipe_id,
                    method: 'GET'
                }).done(function (response) {
                    console.log(response)
                    $('#search_results').html(response)
                });
                return false
            });
        });
    </script>
</head>

<body>
    <div class="container bg-light">
        <div class="row">
            <div class="col p-4 m-1">
                <p><a href="/create_meal_plan"> Create a meal plan for the next month</a> | <a href="/search">Search for recipes by ingredients</a> | <a href="/logout">Logout</a></p>
                <h3>Welcome {{request.session.name}}</h3>
                <div id="rec">
                    {% if saved %}
                    {% for recipe in saved %}
                    <div id="more_info">
                        <a href=#>
                            <p id='recipe.id'>{{recipe.recipe}}</p>
                        </a>
                    </div>
                    <div id="search_results"></div>
                    {% endfor %}
                    {% if recipe not in saved %}
                    <p>No saved recipes. Search <a href="/search">Here!</a></p>
                    {% else %}
                    <p>Saved Recipes:</p>
                    <ul>
                        <p>testing</p>
                        <li>{{recipe.id}}</li>
                    </ul>
                    {% endif %}
                    {% endif %}
                    <p><a href="/">Home</a> | <a href="/create_meal_plan"> Create a meal plan for the next month</a> | <a href="/search">Search for recipes by ingredients</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>